{% extends "home/navbar.html" %}
{% block page %}
<head>
    <title >Course Selection</title>
</head>
<form action='/profile/course/' method="GET">
    <label for="search-input" class="somecss">Course Search:</label>
    <input type="text" class="form-control" id="search-input" name="search-input" placeholder="Search for courses..." required><br><br>
    <div class="row h-5 justify-content-center align-items-center">
    <button class="btn btn-primary" type="submit">Search</button>
</div>
</form>
{% if courses %}
    <h2 class="coursesearch">Results:</h2>
    <table class="coursesearch">
        <tr>
            <th>Class Number</th>
            <th>Course</th>
            <th>Title</th>
        </tr>
        {% for course in courses%}
        <tr>
            <td>{{ course.subject }} {{ course.catalog_nbr }}</td>
            <td>{{ course.class_nbr }}</td>
            <td>{{ course.descr }}</td>
            <td><button name="selected_courses" value="{{ course.descr }}">Add</button></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
