{% extends "home/navbar.html" %}
{% block page %}
<head>
    <title>Course Selection</title>
</head>
<form action='/profile/course/' method="GET">
    {% csrf_token %}
    <!-- <label for="search-input" class="somecss">Course Search:</label> -->
    <div class="centeringnomargin">

        <img src="/static/home/images/Courses.png" 
          width="400" 
          height="250">
      </div>

      <input type="text" class="form-control" id="class-number" name="class-number" placeholder="Search by class number..."><br>
      <input type="text" class="form-control" id="subject" name="subject" placeholder="Search by mneomonic... e.g. APMA, CS, etc"><br>
      <input type="text" class="form-control" id="course-code" name="course-code" placeholder="Search by catalog number... e.g. 3240, 4750, etc"><br>
      <input type="text" class="form-control" id="title" name="title" placeholder="Search by title... e.g. Database Systems"><br>
      <input type="text" class="form-control" id="instructor" name="instructor" placeholder="Search by instructor... e.g. Horton, Sherriff, etc"><br>
      
      <div class="row h-5 justify-content-center align-items-center">
        <button class="button-56" style="color:white" class="btn btn-primary" type="submit" style="background-color:#523A28" class="white">Search</button>
    </div>
</form>
{% if courses %}
    <h2 class="coursesearch" style="margin-top: 2%;" style="margin-bottom: 2%;">Results:</h2>
    <form action='/profile/course/' method="POST">
        {% csrf_token %}
        <table class="coursesearch">
            <tr>
                <th></th>
                <th>Course</th>
                <th>Title</th>
            </tr>
            {% for course in courses%}
                <tr>
                    <td>
                        <input type="checkbox" class="course-checkbox" name="selected_courses" value="{{ course.subject }} {{ course.catalog_nbr }} {{ course.descr }}">
                    </td>
                    <td>{{ course.subject }} {{ course.catalog_nbr }}</td>
                    <td>{{ course.descr }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="row h-5 justify-content-center align-items-center">
            <button class="button-56" style="color:white" class="btn btn-primary" type="submit" >Add Selected Courses</button>
        </div>
    </form>
{% endif %}
{% endblock %}
