{% extends "home/navbar.html" %}
{% block page %}
<head>
    <title>Course Selection</title>
</head>
<form action='/profile/course/' method="GET">
    {% csrf_token %}
    <!-- <label for="search-input" class="somecss">Course Search:</label> -->
    <div class="centeringnomargin" style="display: flex; flex-direction: column; align-items: center;">
        <img src="/static/home/images/Courses.png" 
          width="375" 
          height="215">
          
    </div>
      
      <div style="margin-top: -50px; font-family:'Bebas Neue'; letter-spacing:2px; font-weight: bold; font-size: large; padding: 0;">
      <h4>Only the top 100 results will be returned so be sure to give as many details as possible!</h4>
        Search By Course Number      
      <input type="text" class="form-control" id="class-number" name="class-number" placeholder="Ex. '16031">Search By Course Mnemonic<br>
      
      <input type="text" class="form-control" id="subject" name="subject" placeholder="Ex. 'APMA', 'CS', 'ANTH'">Search By Course Catalog Number<br>
      
      <input type="text" class="form-control" id="course-code" name="course-code" placeholder="Ex. '3240', '3100', '1010'"> Search By Course Title<br>
     
      <input type="text" class="form-control" id="title" name="title" placeholder="Ex. 'Advanced Software Development Techniques', 'Database Systems'">Search By Course Instructor<br>
      
      <input type="text" class="form-control" id="instructor" name="instructor" placeholder="Ex. 'Sherriff', 'Horton', 'Bloomfield'"><br>
    </div>
      <div class="row h-5 justify-content-center align-items-center">
        <button class="button-56" style="color:white" class="btn btn-primary" type="submit" style="background-color:#523A28" class="white">Search</button>
      </div>
</form>
{% if courses %}
    <h2 class="coursesearch" style="margin-top: 2%;" style="margin-bottom: 2%;">Results:</h2>
    <form action='/profile/course/' method="POST">
        {% csrf_token %}
        <table class="coursesearch">
            <tr>
                <th></th>
                <th>Course</th>
                <th>Title</th>
            </tr>
            {% for course in courses%}
                <tr>
                    <td>
                        <input type="checkbox" class="course-checkbox" name="selected_courses" value="{{ course.class_nbr }} {{ course.subject }} {{ course.catalog_nbr }} {{ course.descr }}">
                    </td>
                    <td>{{ course.subject }} {{ course.catalog_nbr }}</td>
                    <td>{{ course.descr }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="row h-5 justify-content-center align-items-center">
            <button class="button-56" style="color:white" class="btn btn-primary" type="submit" >Add Selected Courses</button>
        </div>
    </form>
{% endif %}
{% endblock %}
