{% extends "home/navbar.html" %}
{% block page %}

<style >
    h1 {text-align: center;}
    p {text-align: center;}
    .container {text-align: center; max-width: 500px; margin: auto; }
</style>
{% block bootstrap5_content %}


<div class="paul">
  
    
{% if user.is_authenticated %}


    {% with tutoring_user=user.tutoringuser %}
        {% if tutoring_user %}
            {% if tutoring_user.is_tutor %}

            <head>
                <style>
                    @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
                </style>
            </head>
            <body>
                <div class="ten">
                    <div class="text-center">
                        <h3 class="typing"> Welcome, Tutor {{ user.username }} 👋</h3>     
                    </div>
                    <div class="ocean">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    
                  </div>
                  <div class="backg">
                    <div class="secondplanet">
                      <div class="t1"></div>
                      <div class="t2"></div>
                      <div class="t3"></div>
                      <div class="t4"></div>
                      <div class="t5"></div>
                      <div class="t6"></div>
                      <div class="t7"></div>
                      <div class="t8"></div>
                      <div class="secondshad"></div>
                    </div>
                    <div class="stars">
                      <div class="s1"></div>
                      <div class="s2"></div>
                      <div class="s3"></div>
                      <div class="s4"></div>
                      <div class="s5"></div>
                      <div class="s6"></div>
                    </div>
                    <div class="an">
                      <div class="secondtank"></div>
                      <div class="astro">
                          
                          <div class="secondhelmet">
                            <div class="secondglass">
                              <div class="shine"></div>
                            </div>
                          </div>
                          <div class="seconddress">
                            <div class="c">
                              <div class="btn1"></div>
                              <div class="btn2"></div>
                              <div class="btn3"></div>
                              <div class="btn4"></div>
                            </div>
                          </div>
                          <div class="secondhandl">
                            <div class="secondhandl1">
                              <div class="secondglovel">
                                <div class="secondthumbl"></div>
                                <div class="secondb2"></div>
                              </div>
                            </div>
                          </div>
                          <div class="secondhandr">
                            <div class="secondhandr1">
                              <div class="secondglover">
                                <div class="secondthumbr"></div>
                                <div class="secondb1"></div>
                              </div>
                            </div>
                          </div>
                          <div class="secondlegl">
                            <div class="secondbootl1">
                              <div class="secondbootl2"></div>
                            </div>
                          </div>
                          <div class="secondlegr">
                            <div class="secondbootr1">
                              <div class="secondbootr2"></div>
                            </div>
                          </div>
                          <div class="secondpipe">
                            <div class="secondpipe2">
                              <div class="pipe3"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </body>
                
            <div class="flat-anim animation">
              <span class="eye"></span>
              <span class="bottom"></span>
            </div>
            {% else %}
            <head>
                <style>
                    @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
                </style>
            </head>
            <body>
                <div class="ten">
                    <div class="text-center">
                        <h3 class="typing"> Welcome, Student     {{ user.username }} 👋</h3>     
                    </div>
                      
                        <div class="ocean">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    
                  </div>
            </body>
            <div class="backg">
                <div class="planet">
                  <div class="r1"></div>
                  <div class="r2"></div>
                  <div class="r3"></div>
                  <div class="r4"></div>
                  <div class="r5"></div>
                  <div class="r6"></div>
                  <div class="r7"></div>
                  <div class="r8"></div>
                  <div class="shad"></div>
                </div>
                <div class="stars">
                  <div class="s1"></div>
                  <div class="s2"></div>
                  <div class="s3"></div>
                  <div class="s4"></div>
                  <div class="s5"></div>
                  <div class="s6"></div>
                </div>
                <div class="an">
                  <div class="tank"></div>
                  <div class="astro">
                      
                      <div class="helmet">
                        <div class="glass">
                          <div class="shine"></div>
                        </div>
                      </div>
                      <div class="dress">
                        <div class="c">
                          <div class="btn1"></div>
                          <div class="btn2"></div>
                          <div class="btn3"></div>
                          <div class="btn4"></div>
                        </div>
                      </div>
                      <div class="handl">
                        <div class="handl1">
                          <div class="glovel">
                            <div class="thumbl"></div>
                            <div class="b2"></div>
                          </div>
                        </div>
                      </div>
                      <div class="handr">
                        <div class="handr1">
                          <div class="glover">
                            <div class="thumbr"></div>
                            <div class="b1"></div>
                          </div>
                        </div>
                      </div>
                      <div class="legl">
                        <div class="bootl1">
                          <div class="bootl2"></div>
                        </div>
                      </div>
                      <div class="legr">
                        <div class="bootr1">
                          <div class="bootr2"></div>
                        </div>
                      </div>
                      <div class="pipe">
                        <div class="pipe2">
                          <div class="pipe3"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            {% endif %}
        {% else %}
            
            <head>
                <style>
                    @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
                </style>
            </head>
            <body>
                <div class="wrapper four">
                    <div class="type">
                        <h3 class="typing"> Click Below!</h3>
                        
                    </div>
                    <a href="/tutorform" id="anchor" class="typing">Set Up Your Account</a>
                </div>
            </body>
            
        {% endif %}
    {% endwith %}
{% endif %}

{% if not user.is_authenticated %}
<div class="flat-anim animation">
  <span class="eye"></span>
  <span class="bottom"></span>
</div>
<div class="indexmiddle" >
  
  <div class="slider"  >
    <div style="font-family: 'Abril Fatface', serif;" class="caption" > 
      Welcome to our
      <div class="text-box">
        <div>project</div>
        <div>A26</div>
        <div>Presents</div>
      </div>
    </div>
  </div>
</div>
{% endif %}


</div>

{% endblock %}
{% endblock %}