{% extends "home/navbar.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
{% comment %} <div class="navbar-container">
<nav class="navbar">
    <ul class="navbar navbar-expand-sm fixed-top">
    <li class="nav-item {% if request.path == '/' %}active{% endif %}" style="list-style-type: none;">
        <a class="nav-link" href='/'>Home</a>
    </li>
    <li class="nav-item {% if request.path == '/notification/' %}active{% endif %}" style="list-style-type: none;">
        <a class="nav-link" href='/notification/'>Notifications</a>
    </li>
    <li class="nav-item {% if request.path == '/schedule/' %}active{% endif %}" style="list-style-type: none;">
        <a class="nav-link" href='/schedule/'>Schedule</a>
    </li>
    <li class="nav-item {% if request.path == '/profile/' %}active{% endif %}" style="list-style-type: none;">
        <a class="nav-link" href= '/profile/'>Profile</a>
    </li>
    <li class="nav-item {% if request.path == '/schedule/' %}active{% endif %}" style="list-style-type: none;">
        {% if user.is_authenticated %}
        <a class="nav-link" href="/accounts/logout"> Logout </a>
        {% else %}
        <a class="nav-link" href="/login">Sign Up/Sign In</a>
        {% endif %}
    </li>
</nav> {% endcomment %}
</div>
{% with tutoring_user=user.tutoringuser %}
    {% if tutoring_user %}
    <div class="container mt-4" style="text-align: center;">
    <div class="row"  style="text-align: center;">
    <h2>{{tutoring_user.full_name}}</h2>
        <p><strong>Major: </strong>{{tutoring_user.major}}</p>
        <p><strong>Hourly Rate:</strong> {{tutoring_user.pay_rate}}</p>
        <p>
            <strong>Location Preference:</strong>
            {% for location in tutoring_user.locations %}
                {{location}}, 
            {% endfor %}
        </p>
        <p>
            <strong>Online/Virtual:</strong>
            {% if tutoring_user.is_virtual %}
                Online
            {% else %}
                Virtual
            {% endif %}
        </p>
        <p>
            <strong>Courses Tutored:</strong>
            {% for course in tutoring_user.classes %}
                {{course}} \n
            {% endfor %}
            <a href='/profile/course/'>
                <button>Select Courses</button>
            </a>
        </p>
    </div>
    <a href='/profile/edit_profile/'>
        <button>Edit</button>
    </a>
    </div>
    {% endif %}
    {% endwith %}  
</body>