{% extends "home/navbar.html" %}
{% block page %}
{% if request_list %}

<div class="centeringnomargin">

  <img src="/static/home/images/Requests.png" 
    width="400" 
    height="250">
</div>
<table class="containering">
    <tr > 
        <th class="text-center styled-header" style="color: white;">Student Name</th>
        <th class="text-center styled-header" style="color: white;">Tutor Name</th>
        <th class="text-center styled-header" style="color: white;">Date</th>
        <th class="text-center styled-header" style="color: white;">Start Time</th>
        <th class="text-center styled-header" style="color: white;">Pay Rate</th>
        <th class="text-center styled-header" style="color: white;">Session Length</th>
        <th class="text-center styled-header" style="color: white;">Description</th>
        <th class="text-center styled-header" style="color: white;">Action</th>
      </tr>
{% for request in request_list %}
<tr>
<td class="text-center styled-header">{{ request.student }}</td>
<td class="text-center styled-header">{{ request.tutor }}</td>
<td class="text-center styled-header">{{ request.session_date }}</td>
<td class="text-center styled-header">{{ request.session_time }}</td>
<td class="text-center styled-header">{{ request.pay_rate }}</td>
<td class="text-center styled-header">{{ request.duration }} min</td>
<td class="text-center styled-header">{{ request.description }}</td>
<td class="text-center styled-header"> 
    {% if user.is_authenticated %}
    {{request.status}}
    {% with tutoring_user=user.tutoringuser %}
    {% if tutoring_user %}
    {% if tutoring_user.is_tutor %}
        {% if request.status == 'pending' %}
        <form action="" method="POST" >
            {% csrf_token %}
            <input type="hidden" name="request_id" value="{{ request.id }}">
            <button type="submit" name="status" value="approved" class="button-60" style="color:white">Accept</button>
            <button type="submit" name="status" value="rejected" class="button-60" style="color:white">Reject</button>
        </form>
        {% else %}
        <p></p>
        {% endif %}
    {% else %}   
    
    {% endif %}
    {% endif %}
    {% endwith %}
    {% endif %}
</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>You have no requests</p>
{% endif %}
{% endblock %}
