{% extends "home/navbar.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% load socialaccount %}
{% block page %}
    <div class="container">
    {% if user.is_authenticated %}
        <p></p>
        <p>Please fill out the form, {{ user.username }} !</p>
    {% endif %}
</div>
<style>
    h1 {text-align: center;}
    p {text-align: center;}
    .container {text-align: center; max-width: 500px; margin: auto;}
</style>
<div class="container">
    <form action="{% url 'home:tutorform' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
        Submit
        </button>
    {% endbuttons %}
    </form>
</div> 

{% endblock %}