li a {
  color: green;
}
body {
  /* background: rgb(46, 141, 128); */
  background: #d0b49f;
  /* font-family: Bebas Neue;
  font-weight: bold; */
}

#header {
  height: 100px;
  width: 100%;
  /* background: rgb(5, 107, 208); */
  background: #d0b49f;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; /* Height of the footer */
  /* background: rgba(163, 190, 182, 0.833); */
  background: #d0b49f;
}

#footer.comment {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px; /* Height of the footer */
  background: rgba(44, 11, 128, 0.658);
}
.navbar {
  /* background-color: rgb(11, 11, 11); */
  background-color: #4b2c2c;
  position: relative;
  top: 0;
  width: 100%;
  height: 40px;
  align-items: center;
}
/* Navbar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Navbar links on hover */
.navbar a:hover {
  background-color: #c68f65;
  transform: translate(5, 10);

  color: black;
}

/* Active/current navbar link */
/* .active {
  background-color: rgb(46, 141, 128);
  background-color: #d0b49f;
  color: rgb(255, 255, 255);
} */

.styled-header {
  align-self: center;
  justify-content: center;

  /* background-color: #3d8663; */
  align-items: center;

  color: #000000;
  font-weight: 500;
  font-size: 15px;
  padding: 10px;
  border: 0.05px solid #000000;
}

.styled-header2 {
  font-weight: bold;
  font-size: 25px;
}

.containering {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
  margin: 50 auto;
  /* font-size: 40px; */
}
.paul {
  font-size: 50px;
  font-family: Arial, sans-serif;
  color: #4b2c2c;
  font-weight: bold;
  margin-top: 20px;
  align-items: center;
  /* background-color: rgb(218, 239, 229); */
  /* color: white; */
  /* padding: 12px 20px; */
}

.containerizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 25vh; */
  /* margin: 80 auto; */
  /* font-size: 40px; */
}

.somecss {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  /* font-family: Arial, sans-serif; */
}

.coursesearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 2%; */
}

.box {
  font-size: 50px;
  font-family: Arial, sans-serif;
  color: #333;
  font-weight: bold;
  margin-top: 400px;
  align-items: center;
}

.centeringnomargin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: -40px;
}

.white {
  color: white;
  /* background-color: red; */
}

.paulcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

/* CSS */
.button-56 {
  margin-top: 5px;
  /* font-family: Bebas Neue; */
  align-items: center;
  background-color: #d0b49f;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  /* display: flex; */
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
  background-color: #886144;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.button-60 {
  margin-top: 10px;
  /* font-family: Bebas Neue; */
  align-items: center;
  background-color: #d0b49f;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  /* display: flex; */
  font-family: Inter, sans-serif;
  font-size: 8px;
  height: 24px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.indexmiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: 30px; */
  margin-top: -30px;
}

.wrapper.four {
  /* background-color: #9ba5b4; */
  font-size: 1.5rem;
  /* font-family: "Play", Arial, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 10px; */
  font-weight: bold;
}
.four .type {
  padding: 2rem 1rem;
  width: auto;
  margin: auto;
}
.four h3 {
  width: 10ch;
  border-right: 4px solid black;
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(13, end),
    blink-caret 0.5s step-end infinite alternate;
}

.wrapper.seven {
  /* background-color: #9ba5b4; */
  font-size: 1.5rem;
  /* font-family: "Play", Arial, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 10px; */
  font-weight: bold;
}
.seven .type {
  padding: 2rem 1rem;
  width: auto;
  margin: auto;
}
.seven h3 {
  width: 24ch;
  border-right: 4px solid #523a28;
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.5s steps(15, end),
    blink-caret 0.5s step-end infinite alternate;
}

.wrapper.ten {
  /* background-color: #9ba5b4; */
  /* font-size: 10rem; */
  /* font-family: "Play", Arial, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 10%; */
  font-size: 3.5rem;
  font-weight: bold;
}
.ten .type {
  /* padding: 2rem 1rem; */
  width: auto;
  margin: auto;
  /* font-size: 10%; */
}

.ten h3 {
  width: 24ch;
  border-right: 4px solid #523a28;
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.5s steps(15, end),
    blink-caret 0.5s step-end infinite alternate;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.backg {
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: rgba(85, 54, 3, 0.1);
  transform: scale(0.7);
}
.planet {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  background-color: #ff9933;
  top: 45px;
  left: 220px;
}
.r1 {
  background-color: #ffbf80;
  height: 20px;
  width: 110px;
  border-radius: 10px;
  position: relative;
  top: 60px;
  left: 85px;
}
.r2 {
  background-color: #ffbf80;
  height: 15px;
  width: 90px;
  border-radius: 6.5px;
  position: relative;
  top: 80px;
  left: 110px;
}
.r3 {
  background-color: #ffbf80;
  height: 30px;
  width: 120px;
  border-radius: 15px;
  position: relative;
  top: 78px;
  left: 50px;
}
.r4 {
  background-color: #ffbf80;
  height: 22px;
  width: 90px;
  border-radius: 11px;
  position: relative;
  top: 70px;
  left: 12px;
}
.r5 {
  background-color: rgba(204, 102, 0, 0.3);
  height: 15px;
  width: 40px;
  border-radius: 7.5px;
  position: relative;
  bottom: 50px;
  left: 70px;
}
.r6 {
  background-color: rgba(204, 102, 0, 0.3);
  height: 20px;
  width: 60px;
  border-radius: 11px;
  position: relative;
  bottom: 25px;
  left: 10px;
}
.r7 {
  background-color: rgba(204, 102, 0, 0.3);
  height: 15px;
  width: 45px;
  border-radius: 7.5px;
  position: relative;
  top: 40px;
  left: 130px;
}
.r8 {
  background-color: rgba(255, 255, 255, 0.4);
  height: 12px;
  width: 30px;
  border-radius: 7.5px;
  position: relative;
  top: 7px;
  left: 32px;
}

.secondplanet {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  background-color: #f5d201;
  top: 45px;
  left: 220px;
}

.t1 {
  background-color: #fcec8e;
  height: 20px;
  width: 110px;
  border-radius: 10px;
  position: relative;
  top: 60px;
  left: 85px;
}
.t2 {
  background-color: #fcec8e;
  height: 15px;
  width: 90px;
  border-radius: 6.5px;
  position: relative;
  top: 80px;
  left: 110px;
}
.t3 {
  background-color: #fcec8e;
  height: 30px;
  width: 120px;
  border-radius: 15px;
  position: relative;
  top: 78px;
  left: 50px;
}
.t4 {
  background-color: #fcec8e;
  height: 22px;
  width: 90px;
  border-radius: 11px;
  position: relative;
  top: 70px;
  left: 12px;
}
.t5 {
  background-color: #edb514;
  height: 15px;
  width: 40px;
  border-radius: 7.5px;
  position: relative;
  bottom: 50px;
  left: 70px;
}
.t6 {
  background-color: #edb514;
  height: 20px;
  width: 60px;
  border-radius: 11px;
  position: relative;
  bottom: 25px;
  left: 10px;
}
.t7 {
  background-color: #edb514;
  height: 15px;
  width: 45px;
  border-radius: 7.5px;
  position: relative;
  top: 40px;
  left: 130px;
}
.t8 {
  background-color: #edb514;
  height: 12px;
  width: 30px;
  border-radius: 7.5px;
  position: relative;
  top: 7px;
  left: 32px;
}
.shad {
  background-color: transparent;
  box-shadow: 15px 15px rgba(204, 102, 0, 0.3);
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  bottom: 164px;
  right: 16px;
}
.secondshad {
  background-color: transparent;
  box-shadow: 15px 15px rgba(1, 25, 136, 0.3);
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  bottom: 164px;
  right: 16px;
}
.astro {
  position: relative;
  left: 131px;
  bottom: 250px;
  transform: rotate(-30deg);
}
.an {
  animation-name: flo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: relative;
  bottom: 80px;
  left: 20px;
}
@keyframes flo {
  50% {
    transform: translateY(30px);
  }
}
.tank {
  background-color: #a6a6a6;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  position: relative;
  left: 95px;
  top: 50px;
  transform: rotate(-30deg);
}
.secondtank {
  background-color: #f0eaea;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  position: relative;
  left: 95px;
  top: 50px;
  transform: rotate(-30deg);
}
.helmet {
  background-color: #f2f2f2;
  height: 93px;
  width: 100px;
  border-radius: 45%;
  position: relative;
  left: 20px;
  z-index: 5;
}
.secondhelmet {
  background-color: #f9c74f;
  height: 93px;
  width: 100px;
  border-radius: 45%;
  position: relative;
  left: 20px;
  z-index: 5;
}
.glass {
  background-color: #666666;
  height: 60px;
  width: 80px;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  position: relative;
  left: 10px;
  top: 7px;
}
.secondglass {
  background-color: #faf3f5;
  height: 60px;
  width: 80px;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  position: relative;
  left: 10px;
  top: 7px;
}
.shine {
  background-color: rgba(166, 166, 166, 0.7);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: 15px;
}
.dress {
  background-color: #f2f2f2;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  position: relative;
  bottom: 5px;
  left: 20px;
}
.seconddress {
  background-color: #f9c74f;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  position: relative;
  bottom: 5px;
  left: 20px;
}
.handr {
  height: 26px;
  width: 75px;
  background-color: #f2f2f2;
  border-radius: 40px;
  position: relative;
  bottom: 138px;
  left: 95px;
  transform: rotate(-20deg);
}
.secondhandr {
  height: 26px;
  width: 75px;
  background-color: #f9c74f;
  border-radius: 40px;
  position: relative;
  bottom: 138px;
  left: 95px;
  transform: rotate(-20deg);
}
.handl {
  height: 26px;
  width: 75px;
  background-color: #f2f2f2;
  border-radius: 40px;
  position: relative;
  bottom: 111px;
  right: 29px;
  transform: rotate(20deg);
}
.secondhandl {
  height: 26px;
  width: 75px;
  background-color: #f9c74f;
  border-radius: 40px;
  position: relative;
  bottom: 111px;
  right: 29px;
  transform: rotate(20deg);
}

.handr1 {
  height: 26px;
  width: 57px;
  background-color: #f2f2f2;
  border-radius: 26px;
  position: relative;
  bottom: 18px;
  left: 35px;
  transform: rotate(90deg);
}
.secondhandr1 {
  height: 26px;
  width: 57px;
  background-color: #f9c74f;
  border-radius: 26px;
  position: relative;
  bottom: 18px;
  left: 35px;
  transform: rotate(90deg);
}
.handl1 {
  height: 26px;
  width: 57px;
  background-color: #f2f2f2;
  border-radius: 26px;
  position: relative;
  bottom: 17px;
  right: 17px;
  transform: rotate(-90deg);
}
.secondhandl1 {
  height: 26px;
  width: 57px;
  background-color: #f9c74f;
  border-radius: 26px;
  position: relative;
  bottom: 17px;
  right: 17px;
  transform: rotate(-90deg);
}
.glover {
  height: 28px;
  width: 26px;
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(-90deg);
  position: relative;
  bottom: 1px;
  right: 16px;
}
.glovel {
  height: 28px;
  width: 26px;
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(90deg);
  position: relative;
  bottom: 1px;
  left: 42px;
}
.secondglover {
  height: 28px;
  width: 26px;
  background-color: #ffe3a2;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(-90deg);
  position: relative;
  bottom: 1px;
  right: 16px;
}
.secondglovel {
  height: 28px;
  width: 26px;
  background-color: #ffe3a2;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(90deg);
  position: relative;
  bottom: 1px;
  left: 42px;
}
.thumbr {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  right: 7px;
  top: 19px;
}
.thumbl {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  left: 21px;
  top: 19px;
}
.secondhumbr {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ffe3a2;
  position: relative;
  right: 7px;
  top: 19px;
}
.secondthumbl {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ffe3a2;
  position: relative;
  left: 21px;
  top: 19px;
}
.b1 {
  background-color: tomato;
  width: 28px;
  height: 5.5px;
  border-radius: 13px;
  position: relative;
  top: 18px;
  right: 1px;
}
.b2 {
  background-color: tomato;
  width: 28px;
  height: 5.5px;
  border-radius: 13px;
  position: relative;
  top: 18px;
  right: 1px;
}
.secondb1 {
  background-color: #941b0c;
  width: 28px;
  height: 5.5px;
  border-radius: 13px;
  position: relative;
  top: 18px;
  right: 1px;
}
.secondb2 {
  background-color: #941b0c;
  width: 28px;
  height: 5.5px;
  border-radius: 13px;
  position: relative;
  top: 18px;
  right: 1px;
}
.c {
  background-color: white;
  width: 55px;
  height: 30px;
  border-radius: 8px;
  position: relative;
  top: 25px;
  left: 23px;
}
.btn1 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #bc0f71;
  position: relative;
  left: 5px;
  top: 10px;
}
.btn2 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ffd147;
  position: relative;
  left: 21px;
  bottom: 2px;
}
.btn3 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: tomato;
  position: relative;
  bottom: 14px;
  left: 38px;
}
.btn4 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #a6a6a6;
  position: relative;
  left: 19px;
  top: 4px;
}

.legl {
  height: 100px;
  width: 40px;
  background-color: #f2f2f2;
  position: relative;
  bottom: 68px;
  left: 5px;
  transform: rotate(20deg);
}
.secondlegl {
  height: 100px;
  width: 40px;
  background-color: #f9c74f;
  position: relative;
  bottom: 68px;
  left: 5px;
  transform: rotate(20deg);
}
.legr {
  height: 100px;
  width: 40px;
  background-color: #f2f2f2;
  position: relative;
  bottom: 168px;
  left: 96px;
  transform: rotate(-20deg);
}
.secondlegr {
  height: 100px;
  width: 40px;
  background-color: #f9c74f;
  position: relative;
  bottom: 168px;
  left: 96px;
  transform: rotate(-20deg);
}
.bootl1 {
  background-color: white;
  width: 43px;
  height: 35px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  top: 65px;
  right: 1.5px;
}
.secondbootl1 {
  background-color: white;
  width: 43px;
  height: 35px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  top: 65px;
  right: 1.5px;
}
.bootr1 {
  background-color: white;
  width: 43px;
  height: 35px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  top: 65px;
  right: 1.5px;
}
.secondbootr1 {
  background-color: white;
  width: 43px;
  height: 35px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: relative;
  top: 65px;
  right: 1.5px;
}
.bootl2 {
  background-color: tomato;
  width: 45px;
  height: 5px;
  border-radius: 21px;
  position: relative;
  top: 30px;
  right: 1.5px;
}
.secondbootl2 {
  background-color: #941b0c;
  width: 45px;
  height: 5px;
  border-radius: 21px;
  position: relative;
  top: 30px;
  right: 1.5px;
}
.bootr2 {
  background-color: rgb(71, 120, 255);
  width: 45px;
  height: 5px;
  border-radius: 21px;
  position: relative;
  top: 30px;
  right: 1.5px;
}
.secondbootr2 {
  background-color: #941b0c;
  width: 45px;
  height: 5px;
  border-radius: 21px;
  position: relative;
  top: 30px;
  right: 1.5px;
}
.pipe {
  background-color: transparent;
  height: 80px;
  width: 80px;
  border: 10px solid #4775ff;
  border-radius: 40px 0px 0px 70px;
  border-right: none;
  transform: rotate(180deg);
  position: relative;
  bottom: 330px;
  left: 130px;
}
.pipe2 {
  background-color: transparent;
  height: 90px;
  width: 42px;
  border: 10px solid #4775ff;
  border-radius: 40px 0px 0px 0px;
  border-right: none;
  transform: rotate(90deg);
  position: relative;
  border-bottom: none;
  left: 67px;
  bottom: 34px;
}
.secondpipe {
  background-color: transparent;
  height: 80px;
  width: 80px;
  border: 10px solid #941b0c;
  border-radius: 40px 0px 0px 70px;
  border-right: none;
  transform: rotate(180deg);
  position: relative;
  bottom: 330px;
  left: 130px;
}
.secondpipe2 {
  background-color: transparent;
  height: 90px;
  width: 42px;
  border: 10px solid #941b0c;
  border-radius: 40px 0px 0px 0px;
  border-right: none;
  transform: rotate(90deg);
  position: relative;
  border-bottom: none;
  left: 67px;
  bottom: 34px;
}
.pipe3 {
  height: 10px;
  width: 10px;
  background-color: #ff8447;
  position: relative;
  border-radius: 65%;
  bottom: 10px;
  left: 37px;
}
.s1,
.s2,
.s3,
.s4,
.s5,
.s6 {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
}
.s1 {
  bottom: 150px;
  left: 200px;
}
.s2 {
  top: 130px;
  left: 254px;
}
.s3 {
  bottom: 98px;
  left: 65px;
}
.s4 {
  top: 216px;
  left: 249px;
}
.s5 {
  top: 139px;
  left: 100px;
}
.s6 {
  top: 60px;
  left: 370px;
}

body {
  background: radial-gradient(ellipse at center, #c79081 0%, #dfa579 100%);
  /* overflow: hidden; */
}

.ocean {
  height: 2%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #92b8e19c;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 250px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: Arial, sans-serif;
  
}
th, td {
  padding: 8px;
  text-align: left;
  /* position: relative; */
}
th {
  background-color: #78553b;
  color: white;
}
tr:nth-child(even) {
  background-color: #D0B49F;
}
tr:nth-child(odd){
  background-color: #E4D4C8;
}
tr:hover {
  background-color: #AB6B51;
}

/* Custom borders */
th, td {
  /* border: 1px solid transparent; */
}
th::after, td::after {
  content: "";
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

   /* Adjusted box-shadow */
}



.text {
  color: #2c2c2c;
  
   letter-spacing: .05em;
   text-shadow: 
     4px 4px 0px #d5d5d5, 
     7px 7px 0px rgba(0, 0, 0, 0.2);
 font-size:2.3em;
 font-family:  sans-serif;
 -webkit-animation: shift 2s ;
 animation: shift 2s ;
 margin-top:125px;
 text-align:center;
 text-transform:uppercase;
}
h2 {
 animation: appear 2s;
 text-align:center;
}

@keyframes shift {
 0% {opacity:0;}
 33% {margin-top:0px;opacity:0;}
 100% {margin-top:125px;opacity:1;text-shadow: 
     4px 4px 0px #d5d5d5, 
     7px 7px 0px rgba(0, 0, 0, 0.2);}
}

@keyframes appear {
 0% {opacity:0;}
 50% {opacity:0;}
 100% {opacity:1;}
}



.slider{
	height: 600px;
	/* background-color: #293132; */
	text-align: center;
	position: relative;
	/* animation: slideColor 25s forwards infinite; */
}

.caption{
	line-height: 100px;
	font-size: 60px;
	color: #4b2c2c;
	position: relative;
	top: 20%;
	transform: translateY(-50%);
	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
	margin-left: -250px;
}

.text-box{
	display: inline-block;
	position: relative;
}

.text-box div{
	display: inline-block;
	position: absolute;
	top: -200px;
	transform: rotateX(-90deg);
	opacity: 0;
	text-shadow: 0px 5px 5px rgba(0,0,0,.25);
	animation-timing-function: ease;
}

.text-box div:nth-child(1){
	animation: rollDown 10s forwards infinite;
}

.text-box div:nth-child(2){
	animation: rollDown2 10s forwards infinite;
}

.text-box div:nth-child(3){
	animation: rollDown3 10s forwards infinite;
}

@keyframes rollDown {
	0%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	11%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	22%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	33%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown2 {
	33%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	44%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown3 {
	66%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	77%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	88%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	99%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes slideColor{
	0%{
		background-color: #387780;
	}
	33%{
		background-color: #3f88c5;
	}
	66%{
		background-color: #588b8b;
	}
	100%{
		background-color: #387780;
	}
}


.flat-anim
{
  
  display: block;
  width: 264px;
  height: 265px;
  background-color: #ecf0f1;
  border-radius: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-132px 0 0 -132px;
}
.flat-anim:before
{
  content: "";
  background-color: #e67e22;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  position: absolute;
  top: 19px;
  left: 19px;
}
.flat-anim:after
{
  content: "";
  background-color: #68b5f1;
  width: 48px;
  height: 24px;
  border-radius: 10px;
  position: absolute;
  top: 17px;
  right: 22px;
}
.bottom
{
  width: 264px;
  height: 112px;
  display: block;
  z-index: 10;
  background-color: #e67e22;
  border-radius: 0 0 38px 38px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top:15px solid #dd660e;
  -webkit-box-shadow: inset 0 -20px 0 0 #db640e;
}
.bottom:before
{
  content: "";
  background-color: #282e3a;
  width: 140px;
  height: 30px;
  display: block;
  margin:14px auto 0 auto;
}
.bottom:after{
  content: "";
  position: absolute;
  top: 30px;
  left: 84px;
  width: 96px;
  height: 70px;
  display: block;
  background-color: #ecf0f1;
  /*border-top:16px solid #c3d1dd;*/
  /*border-bottom:14px solid #db640e;*/
  -webkit-box-shadow:0 14px 0 0 #db640e,
    0 -16px 0 0 #c3d1dd;
  -moz-box-shadow:0 14px 0 0 #db640e,
    0 -16px 0 0 #c3d1dd;
  box-shadow:0 14px 0 0 #db640e,
    0 -16px 0 0 #c3d1dd;
}
.eye
{
  width: 37px;
  height: 37px;
  border-radius: 37px;
  background-color: #243e6e;
  display: block;
  margin:60px auto 0;
  z-index: 20;
  position: relative;
  -webkit-box-shadow: 0 0   0 22px  #3e5489,
            0   0     0   30px  #1c3666,
            0   0     0   45px  #ecf0f1,
            0   10px  0   45px  rgba(0,0,0,0.2);
}
.eye:before
{
  content: "";
  background-color: #a3bfd5;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  top: -16px;
  left: -16px;
}
.eye:after
{
  content: "";
  background-color: #6078a3;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  position: absolute;
  top: 30px;
  left: 30px;
}
/* Animation */

.flat-anim {
  -webkit-animation: flatAnimation 5s infinite;
}

@-webkit-keyframes flatAnimation {
  0% {
    -webkit-transform: rotate(50deg) scale(0.5); 
  }
  13% {
    -webkit-transform: rotate(-22deg) scale(1.2); 
  }
  20% {
    -webkit-transform: rotate(0) scale(1); 
  }
  95% {
    -webkit-transform: rotate(0) scale(1); 
  }
  100% {
    -webkit-transform: rotate(50deg) scale(0.5); 
  }
}
.eye,
.flat-anim:before,
.flat-anim:after {
  -webkit-animation: eyeAnimation 5s infinite;
}
.flat-anim:before{
    -webkit-animation-delay: 50ms;
    -moz-animation-delay: 50ms;
    -o-animation-delay: 50ms;
    animation-delay: 50ms;
}
.flat-anim:after{
    -webkit-animation-delay: 150ms;
    -moz-animation-delay: 150ms;
    -o-animation-delay: 150ms;
    animation-delay: 150ms;
}

@-webkit-keyframes eyeAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1); 
  }
  12% {
    opacity: 0;
    -webkit-transform: scale(0.1);
  }
  13% {
    opacity: 1;
    -webkit-transform: scale(0.1);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(1.4); 
  }
  25% {
    -webkit-transform: scale(1); 
  }
  95% {
    -webkit-transform: scale(1); 
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.1); 
  }
}

.bottom:before
{
  -webkit-animation: bottomAnimation 5s infinite;
}

@-webkit-keyframes bottomAnimation {
  0% {
    opacity: 0;
      width: 0;
  }
  20% {
    opacity: 0;
      width: 0;
  }
  21% {
    opacity: 0;
      width: 0;
  }
  22% {
    opacity: 1;
      width: 8px;
  }
  25% {
    opacity: 1;
      width: 165px;
  }
  26% {
    opacity: 1;
      width: 140px;
  }
  95% {
      width: 140px;
    opacity: 1;
  }
  96% {
    opacity: 0;
      width: 0;
  }
  100% {
    opacity: 0;
      width: 0;
  }
}
.bottom:after
{
  -webkit-animation: bottomAfterAnimation 5s infinite;
}

@-webkit-keyframes bottomAfterAnimation {
  0% {
    opacity: 0;
      height: 0;
      border: 0;
  }
  25% {
    opacity: 0;
      height: 0;
      border: 0;
  }
  26% {
    opacity: 1;
      border: 0;
      height: 0;
  }
  26% {
    opacity: 1;
      border: 0;
      height: 0;
      border-top-width: 2px;
  }
  28% {
    opacity: 1;
      border: 0;
      height: 0;
      border-top-width: 16px;
  }
  28% {
    opacity: 1;
      height: 40px;
      border-top-width: 16px;
      border-bottom-width: 14px;
  }
  95% {
    opacity: 1;
      height: 40px;
      border-top-width: 16px;
      border-bottom-width: 14px;
  }
  100% {
    opacity: 0;
    height: 0;
    border: 0;
  }
}

.b8center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bb8-base {
  animation: dash 0.8s infinite alternate cubic-bezier(0.645, 0.045, 0.55, 1);
}
@keyframes dash {
  to {
    transform: translate(50px) rotate(-20deg); /* starting values 0 translation -40 rotation */
  }
}

/* animate the body of bb-8 to rotate
! the rotation occurs from the center of the body
*/
.bb8-center {
  animation: rotate 0.8s infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

/* animate the ground to translate horizontally
! the translation continuously occurs from side to side
*/
.ground {
  animation: translate 0.8s -0.2s infinite linear;
}
@keyframes translate {
  to {
    transform: translateX(100%);
  }
}

/* animate the dashes and particles to translate horizontally
double the duration, but same velocity to show the elements only as the droid leans left 
*/
.dash, .particle {
  animation: translateDashesParticles 1.6s infinite linear;
}
@keyframes translateDashesParticles {
  50%,
  100% {
    transform: translateX(100%);
  }
}

/* animate the reflection on the droid's lens */
.reflection {
  animation: translateReflection 0.8s infinite linear;
}
@keyframes translateReflection {
  0%,
  25% {
    transform: translateX(-20px);
  }
  75%,
  100% {
    transform: translateX(20px);
  }
}






.mydiv {
  background-image: url(http://www.banques-en-ligne.fr/img/calculatrice-credit/background.svg);
  background-repeat: repeat;
  width: 90%;
  height: 150%; 
  position: absolute;
  opacity: 0.03;
  background-size: 314px;
  background-position-y: -15px;
  background-position-x: -15px;
}

/* Media query for tablets */
@media (min-width: 768px) and (max-width: 600) {
  .mydiv {
    background-size: 250px; /* Adjust the background size */
  }
}

/* Media query for small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .mydiv {
    background-size: 200px; /* Adjust the background size */
  }
}

/* Media query for large desktops */
@media (min-width: 1200px) {
  .mydiv {
    background-size: 400px; /* Adjust the background size */
  }
}



